<div class="kanban">

  <div class="kanban__col">
    <div class="kanban__col-header">
      <span class="col-label">Backlog</span>
      <span class="col-cnt">{{ kanbanBacklog.length }}</span>
    </div>
    <div class="kanban__col-body">
      <app-task-card
        *ngFor="let task of kanbanBacklog"
        [task]="task"
        [active]="selectedTaskId === task.id"
        [showTechnicianAvatar]="showTechnicianAvatar"
        (selected)="onTaskSelected($event)">
      </app-task-card>
      <div *ngIf="kanbanBacklog.length === 0" class="col-empty">Sin tareas en backlog</div>
    </div>
  </div>

  <div class="kanban__col">
    <div class="kanban__col-header">
      <span class="col-label col-label--active">En curso</span>
      <span class="col-cnt col-cnt--active">{{ kanbanInProgress.length }}</span>
    </div>
    <div class="kanban__col-body">
      <app-task-card
        *ngFor="let task of kanbanInProgress"
        [task]="task"
        [active]="selectedTaskId === task.id"
        [showTechnicianAvatar]="showTechnicianAvatar"
        (selected)="onTaskSelected($event)">
      </app-task-card>
      <div *ngIf="kanbanInProgress.length === 0" class="col-empty">Sin tareas en curso</div>
    </div>
  </div>

  <div class="kanban__col">
    <div class="kanban__col-header">
      <span class="col-label">Completadas</span>
      <span class="col-cnt">{{ kanbanDone.length }}</span>
    </div>
    <div class="kanban__col-body">
      <app-task-card
        *ngFor="let task of kanbanDone"
        [task]="task"
        [active]="selectedTaskId === task.id"
        [showTechnicianAvatar]="showTechnicianAvatar"
        (selected)="onTaskSelected($event)">
      </app-task-card>
      <div *ngIf="kanbanDone.length === 0" class="col-empty">Sin completadas este mes</div>
    </div>
  </div>

</div>
