PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=infraops

JWT_SECRET=cambia_esto_por_una_cadena_aleatoria_de_al_menos_32_caracteres

INFRADOC_URL=https://infradoc.ondra.com.ar
INFRADOC_API_KEY=tu_api_key_de_infradoc

ODOO_URL=https://odoo.ondra.com.ar
ODOO_DB=ondra
ODOO_USERNAME=api@ondra.com.ar
ODOO_API_KEY=tu_api_key_de_odoo
ODOO_HELPDESK_TEAM_ID=1

VMWARE_USER=tu_usuario_vmware
VMWARE_PASS=tu_password_vmware
