<div class="profile-page" *ngIf="user">
  <div class="page-header">
    <h2>Mi perfil</h2>
    <p class="subtitle">Configuración de tu cuenta</p>
  </div>

  <div class="profile-section">
    <div class="section-header">
      <span class="section-title">Cuenta InfraOps</span>
    </div>
    <div class="section-body">
      <div class="kv-row"><span class="kv-label">Email</span><span class="kv-value">{{ user.email }}</span></div>
      <div class="kv-row"><span class="kv-label">Rol</span><span class="kv-value">{{ user.role }}</span></div>
    </div>
  </div>
</div>
