:host {
  display: block;
  height: 100%;
}

.admin-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

nav[mat-tab-nav-bar] {
  width: 50%;
}

mat-tab-nav-panel {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  display: block;
}
